In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dfc=pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

In [3]:
dfc.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [4]:
dfc.shape

(11914, 16)

In [5]:
dfc.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [6]:
dfc.columns=dfc.columns.str.replace(" ",'_').str.lower()

In [7]:
dfc

,make,model,year,engine_fuel_type,engine_hp,engine_cylinders,transmission_type,driven_wheels,number_of_doors,market_category,vehicle_size,vehicle_style,highway_mpg,city_mpg,popularity,msrp
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [8]:
dfc.describe()

,year,engine_hp,engine_cylinders,number_of_doors,highway_mpg,city_mpg,popularity,msrp
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [9]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               11914 non-null  object
 1   model              11914 non-null  object
 2   year               11914 non-null  int64
 3   engine_fuel_type   11911 non-null  object
 4   engine_hp          11845 non-null  float64
 5   engine_cylinders   11884 non-null  float64
 6   transmission_type  11914 non-null  object
 7   driven_wheels      11914 non-null  object
 8   number_of_doors    11908 non-null  float64
 9   market_category    8172 non-null   object
 10  vehicle_size       11914 non-null  object
 11  vehicle_style      11914 non-null  object
 12  highway_mpg        11914 non-null  int64
 13  city_mpg           11914 non-null  int64
 14  popularity         11914 non-null  int64
 15  msrp               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [10]:
colmns=['make','model','year','engine_hp','engine_cylinders','transmission_type','vehicle_style','highway_mpg','city_mpg','msrp']

In [11]:
dfc=dfc[colmns]

In [12]:
dfc

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [13]:
dfc.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
msrp                  0
dtype: int64

In [14]:
dfc=dfc.fillna(0)

In [15]:
dfc.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

In [16]:
dfc=dfc.rename(columns={'msrp':'price'})

In [17]:
dfc['transmission_type'].mode()

0    AUTOMATIC
Name: transmission_type, dtype: object

In [18]:
dfc['transmission_type'].value_counts()

AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
Name: transmission_type, dtype: int64

In [19]:
# 1.Automatic

In [20]:
dfc.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
price                  int64
dtype: object

In [21]:
categoricals=list(dfc.dtypes[dfc.dtypes=='object'].index)
categoricals

['make', 'model', 'transmission_type', 'vehicle_style']

In [22]:
numericals=list(dfc.dtypes[dfc.dtypes!='object'].index)
numericals

['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg', 'price']

In [23]:
cor_matrix=dfc.corr()

In [24]:
cor_matrix

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg,price
year,1.000000,0.338714,-0.040708,0.258240,0.198171,0.227590
engine_hp,0.338714,1.000000,0.774851,-0.415707,-0.424918,0.650095
engine_cylinders,-0.040708,0.774851,1.000000,-0.614541,-0.587306,0.526274
highway_mpg,0.258240,-0.415707,-0.614541,1.000000,0.886829,-0.160043
city_mpg,0.198171,-0.424918,-0.587306,0.886829,1.000000,-0.157676
price,0.227590,0.650095,0.526274,-0.160043,-0.157676,1.000000

In [25]:
# 2. highway_mpg and city_mpg

In [26]:
dfc['above_average']=dfc['price'].apply(lambda x:1 if x > np.mean(dfc.price) else 0)

In [27]:
dfc

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500,0
...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120,1
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670,1
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620,1
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920,1
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995,0

In [28]:
dfc.price.mean()

40594.737032063116

In [29]:
new_cols=["make","model","year","engine_hp","engine_cylinders","transmission_type","vehicle_style","highway_mpg","city_mpg","above_average"]

In [30]:
dflor=dfc[new_cols]

In [31]:
dflor

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,0
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,1
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,1
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,1
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,1
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,0

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
dflor.shape

(11914, 10)

In [34]:
df_full_train,df_test=train_test_split(dflor,test_size=0.2,random_state=42)

In [35]:
len(df_full_train),len(df_test)

(9531, 2383)

In [36]:
df_train,df_val=train_test_split(df_full_train,test_size=0.25,random_state=42)

In [37]:
len(df_train),len(df_val),len(df_test)

(7148, 2383, 2383)

In [38]:
df_train=df_train.reset_index(drop=True)
df_val=df_val.reset_index(drop=True)
df_test=df_test.reset_index(drop=True)

In [39]:
y_train=df_train.above_average.values
y_val=df_val.above_average.values
y_test=df_test.above_average.values

In [40]:
del df_train["above_average"]
del df_val["above_average"]
del df_test["above_average"]

In [41]:
from sklearn.metrics import mutual_info_score

In [42]:
def mutual_info_car_score(series):
    return mutual_info_score(series,df_full_train.above_average)

In [43]:
cs=df_full_train[categoricals].apply(mutual_info_car_score)
round(cs.sort_values(ascending=False),2)

model                0.46
make                 0.24
vehicle_style        0.08
transmission_type    0.02
dtype: float64

In [44]:
# 3. Transmission type

### One Hot Encoding

In [45]:
from sklearn.feature_extraction import DictVectorizer

In [46]:
numeric=['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']

In [47]:
dv=DictVectorizer(sparse=False)
train_dict=df_train[categoricals+numeric].to_dict(orient='records')
x_train=dv.fit_transform(train_dict)

val_dict=df_val[categoricals+numeric].to_dict(orient='records')
x_val=dv.transform(val_dict)

### Logistic regression Model

In [48]:
from sklearn.linear_model import LogisticRegression

In [49]:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)

In [50]:
model.fit(x_train,y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [51]:
from sklearn.metrics import accuracy_score

In [52]:
model_pred=model.predict(x_val)
f_score=accuracy_score(model_pred,y_val)

In [53]:
round(f_score,2)

0.95

In [54]:
f_data=categoricals+numeric

In [55]:
f_data

['make',
 'model',
 'transmission_type',
 'vehicle_style',
 'year',
 'engine_hp',
 'engine_cylinders',
 'highway_mpg',
 'city_mpg']

In [58]:
for i in f_data:
    print(i)

make
model
transmission_type
vehicle_style
year
engine_hp
engine_cylinders
highway_mpg
city_mpg

In [59]:
f_data

['make',
 'model',
 'transmission_type',
 'vehicle_style',
 'year',
 'engine_hp',
 'engine_cylinders',
 'highway_mpg',
 'city_mpg']

In [67]:
list(range(len(f_data)))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [64]:
len(f_data)

9

In [66]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [69]:
f_data[0:]

['make',
 'model',
 'transmission_type',
 'vehicle_style',
 'year',
 'engine_hp',
 'engine_cylinders',
 'highway_mpg',
 'city_mpg']

### Model 2

In [75]:
for i in [0, 1, 2, 3, 4, 5, 6, 7, 8]:
    train_m2_dict=df_train[f_data[i:]].to_dict(orient='records')
    x_train_m2=dv.fit_transform(train_m2_dict)
    val_m2_dict=df_val[f_data[i:]].to_dict(orient='records')
    x_val_m2=dv.transform(val_m2_dict)
    
    model_1 = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model_1.fit(x_train_m2,y_train)
    
    model_pred_f=model_1.predict(x_val_m2)
    ff_score=accuracy_score(model_pred_f,y_val)
    print(i,ff_score)

0 0.946286193873269
1 0.9492236676458246
2 0.8837599664288712
3 0.878304657994125
4 0.8778850188837599
5 0.8778850188837599
6 0.7956357532522031
7 0.7297524129248846
8 0.7234578262694084

In [86]:
initial_dataa={'eliminated_features':[0, 1, 2, 3, 4, 5, 6, 7, 8],'Accuracy':[0.946286193873269,0.9492236676458246,0.8837599664288712,0.878304657994125,0.8778850188837599,0.8778850188837599,0.7956357532522031,0.7297524129248846,0.7234578262694084]}

In [87]:
dfn=pd.DataFrame(initial_dataa,columns=['eliminated_features','Accuracy'])

In [88]:
dfn

   eliminated_features  Accuracy
0                    0  0.946286
1                    1  0.949224
2                    2  0.883760
3                    3  0.878305
4                    4  0.877885
5                    5  0.877885
6                    6  0.795636
7                    7  0.729752
8                    8  0.723458

In [89]:
Accuracyy=[0.946286193873269,0.9492236676458246,0.8837599664288712,0.878304657994125,0.8778850188837599,0.8778850188837599,0.7956357532522031,0.7297524129248846,0.7234578262694084]

In [96]:
arr1=np.array([0.946286193873269])

In [97]:
arr2=np.array([0.9492236676458246,0.8837599664288712,0.878304657994125,0.8778850188837599,0.8778850188837599,0.7956357532522031,0.7297524129248846,0.7234578262694084])

In [98]:
acc_result=np.subtract(arr1,arr2)
fin_acc_diff=acc_result.tolist()

In [99]:
fin_acc_diff

[-0.002937473772555599,
 0.06252622744439773,
 0.0679815358791439,
 0.06840117498950904,
 0.06840117498950904,
 0.1506504406210658,
 0.21653378094838438,
 0.2228283676038606]

In [100]:
#transmission type

In [101]:
dfc.price

0        46135
1        40650
2        36350
3        29450
4        34500
         ...
11909    46120
11910    56670
11911    50620
11912    50920
11913    28995
Name: price, Length: 11914, dtype: int64

In [102]:
dfc

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500,0
...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120,1
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670,1
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620,1
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920,1
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995,0

In [104]:
del dfc["above_average"]

In [105]:
dfc

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [118]:
dfrr_full_train,dfrr_test=train_test_split(dfc,test_size=0.2,random_state=42)

In [119]:
len(dfrr_full_train),len(dfrr_test)

(9531, 2383)

In [120]:
dfrr_train,dfrr_val=train_test_split(dfrr_full_train,test_size=0.25,random_state=42)

In [121]:
len(dfrr_train),len(dfrr_val),len(dfrr_test)

(7148, 2383, 2383)

In [122]:
dfrr_train=dfrr_train.reset_index(drop=True)
dfrr_val=dfrr_val.reset_index(drop=True)
dfrr_test=dfrr_test.reset_index(drop=True)

In [123]:
yrr_train=np.log1p(dfrr_train.price.values)
yrr_val=np.log1p(dfrr_val.price.values)
yrr_test=np.log1p(dfrr_test.price.values)

In [124]:
del dfrr_train['price']
del dfrr_val['price']
del dfrr_test['price']

### One Hot Encoding -Ridge Regression

In [125]:
dv=DictVectorizer(sparse=False)
train_dict_rrr=dfrr_train[categoricals+numeric].to_dict(orient='records')
xrrr_train=dv.fit_transform(train_dict_rrr)

val_dict_rrr=dfrr_val[categoricals+numeric].to_dict(orient='records')
xrrr_val=dv.transform(val_dict_rrr)

### Ridge Regression Model

In [126]:
from sklearn.linear_model import Ridge

In [127]:
model_rr = Ridge(solver='sag',random_state=42)

In [128]:
model_rr.fit(xrrr_train,yrr_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

Ridge(random_state=42, solver='sag')

In [131]:
from sklearn.metrics import mean_squared_error

In [132]:
for h in [0, 0.01, 0.1, 1, 10]:
    model_nr=Ridge(solver='sag',random_state=42,alpha=h)
    model_nr.fit(xrrr_train,yrr_train)
    
    model_predict_rr=model_nr.predict(xrrr_val)
    rmsef_score=np.sqrt(mean_squared_error(model_predict_rr,yrr_val))
    print(h,rmsef_score)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0 0.48679431324238925

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0.01 0.48679455192752635

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0.1 0.48679670001899783

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

1 0.4868181745432734
10 0.48703228329751214

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

In [133]:
f_list=[0.48679431324238925,0.48679455192752635,0.48679670001899783,0.4868181745432734,0.48703228329751214]

In [136]:
min(f_list)

0.48679431324238925

In [138]:
#aplha=0